@model IEnumerable<InterfaceModelClasses.Models.CourseModel>
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/Content/bootstrap.css">
        <script src="~/Scripts/jquery.js"></script>
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    </head>
    <body>
        <div class="container">
            <br /><br />
            <h1>Cursurile mele:</h1>
            <table id="courses" cellspacing="0" cellpadding="0" class="table table-condensed table-hover table-striped ">
                <thead>
                    <tr>
                    <tr>
                        <th>Denumire curs</th>
                        <th>Ziua</th>
                        <th>Ora</th>
                        <th>Profesor</th>
                        <th>E-Learning</th>
                        <th>Notițe</th>
                        <th>Acțiuni</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model)
                    {
                        <tr>
                           
                            <td>@course.Name</td>
                            <td>@course.Day</td>
                            <td>@course.Hour</td>
                            <td>@course.Professor</td>
                            <td><a href="https://elearning.unitbv.ro/login/index.php" class="button"> @course.Name</a></td>
                            <td>
                                @Html.ActionLink("Notițe", "Index", "Note", new { id = @course.Id }, null) 
                            </td>
                            <td>
                                @Html.ActionLink("Modifică", "EditCourse", new { id = @course.Id }) |
                                @Html.ActionLink("Șterge", "Delete", new { id = @course.Id }, new { onclick = "return confirm('Sunteti sigur ca vreti sa stergeti cursul?');" }) <br />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.ActionLink("Adaugă curs", "AddCourse", null, new { @class = "btn btn-default" })
        </div>
    </body>

</html>
<script>
    $(function () {
        $('#courses').tablesorter();
    });
        @Scripts.Render("~/bundles/jqueryval")
</script>
